root = true

[.github/workflows/*.{yml,yaml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[ncmm-platform/**.{ps1,cs,cpp,h,json,md,txt,yml,yaml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
